{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
            <title>Fatih Alaydrus - {{ title }}</title>
        {% else %}
            <title>Fatih Alaydrus</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Bootstrap CSS and JS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon/favicon.png' %}">
    </head>
    <body>
        {% block content %}
        {% endblock content %}  
        {% include 'footer.html' %}
    </body>
</html>
