{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Back Button-->
<div class="container-fluid">
        <div class="row">
            <div class="text-left back-btn">
                <a href="{% url 'profile' %}"><img src="{% static 'assets/img/chevron-left.svg' %}" alt="go back"></a>
            </div>
        </div>
    </div>
    <!--Header-->
    <div class="row res-header" id="exp-headline">
        <!--Title-->
        <div class="col-5 text-right">
            <h1>
                Fatih's Resume!
            </h1>
        </div>
        <!--Download Resume Button-->
        <div class="col-6 dl-btn-wrapper text-right">
                <a class="dl-btn" href="{% static 'downloadable/CV_FatihAlaydrus.pdf' %}">
                see full resume</a>
        </div>
    </div>
    <!--Content-->
    <div class="container">
        <!--Experience-->
        <div class="row">
            <div class="col-4 text-right exp-head">
                <h2>Experience</h2>
            </div>
            <div class="col-6 text-left res-text">
                <h4>President at Asyraaf UI <br>| <small>June 2019 - Present</small></h4>
                <p class="text-muted text-justify"><a class="text-muted" target="_blank" href="http://asyraaf.org/">company website </a><small class="see-more" id="see1" onclick="readMore('see1')">...read more</small>
                    <span class="hidden-text" id="see1-text"><br>Asyraaf is an organization which accommodates the gathering of Alawiyin students based on Islam.</span></p>
                <h4>Teaching Assistant at University of Indonesia <br>| <small>August 2019 - Present</small></h4>
                <p class="text-muted text-justify">Teaching assistant for Programming Foundations 1 course<br><small class="see-more" id="see2" onclick="readMore('see2')">...read more</small>
                    <span class="hidden-text" id="see2-text"><br>This course laid the base of programming logic in the curriculum through the Python programming language.</span></p>
            </div>
        </div>
        <!--Design Element-->
        <div class="row">
            <div class="col-4 exp-sep-left"><br></div>
            <div class="col-8 exp-sep-right"></div>
        </div>
        <!--Education-->
        <div class="row">
                <div class="col-4 text-right exp-head">
                    <h2>Education</h2>
                </div>
                <div class="col-6 text-left res-text">
                    <h4>University of Indonesia 
                        <br>Bachelor's degree, Information Systems 
                        <br>| <small>2018 - <abbr title="expected graduation">2020</abbr></small></h4>
                        <p class="text-muted text-justify">Activities: Chairman of Quanta 2018 (Fasilkom UI class of 2020) and <a class="text-muted" href="#volunteer">many more</a></p>
                    <h4>SMA Negeri 28 Jakarta
                        <br>General Science
                        <br>| <small>2015 - 2018</small></h4>
                </div>
        </div>
        <!--Unrelated Header-->
        <div class="row res-header">
                <div class="col-12 text-center">
                    <h1 id="volunteer" style="padding-top: 100px;">
                        Unrelated Section
                    </h1>
                </div>
        </div>
        <!--Volunteer-->
        <div class="row">
            <div class="col-4 text-right exp-head">
                <h2>Volunteer<br>Experience</h2>
            </div>
            <div class="col-6 text-left res-text">
                <h4><abbr title="Person in Charge">PIC</abbr> of Showcase Event Division
                    <br>at UI ArtX 2019
                    <br>| <small>Mar 2019 - Present</small>
                </h4>
                    <p class="text-muted text-justify">
                        UI ArtX is an art exhibition event held by Art and Culture Department of BEM UI 
                        to educate and increase the awareness and appreciation of art in students.
                    </p>
                <h4><br><abbr title="Person in Charge">PIC</abbr> of Accommodation Division
                    <br>at SIWAK-NG 2019
                    <br>| <small>Apr 2019 - Present</small>
                </h4>
                <h4><br>Vice <abbr title="Person in Charge">PIC</abbr> of Liaison Officer Divsion
                    <br>at Open House Fasilkom UI 2019
                    <br>| <small>Jun 2019 - Present</small>
                </h4>
                <h4><br>Vice <abbr title="Person in Charge">PIC</abbr> of Equipment and Logistics
                    <br>at Wisuda Genap Fasilkom 2019
                    <br>| <small>Jun 2019 - Present</small>
                </h4>
                <h4><br>Staff of Startup Academy
                    <br>at COMPFEST 11
                    <br>| <small>Mar 2019 - Present</small>
                </h4>
                <h4><br>Staff of Bedah Fakultas Division
                    <br>at Bedah Kampus Universitas Indonesia 2019
                    <br>| <small>Mar 2019 - Present</small>
                </h4>
                <h4><br>Organizing Committee
                    <br>at Musyawarah Kerja Nasional 2
                    <br>| <small>Aug 2019 - Present</small>
                </h4>
                    <p class="text-muted text-justify">
                        In charge of documenting the 2nd annual Work Meeting of 
                        Rabithah Alawiyah Foundation.
                    </p>
                <h4><br>Mentor
                    <br>at Dasar-Dasar Pemrograman 0 Quanta
                    <br>| <small>Jul 2019 - Sep 2019</small>
                </h4>
                <h4><br>Mentor
                    <br>at OKK UI 2019
                    <br>| <small>Jun 2019 - Aug 2019</small>
                </h4>
                <h4><br>Volunteer Staff of Bedah Fakultas Divion
                    <br>at Bedah Kampus Universitas Indonesia 2018
                    <br>| <small>Aug 2019 - Present</small>
                </h4>
                    <p class="text-muted text-justify">
                        Volunteered as university tour guides.
                    </p>         
            </div>
        </div>
        <!--End Title-->
        <div class="row res-header">
            <div class="col-12 text-center">
                <h1 id="volunteer">
                    I'm a legit living Buprok
                </h1>
                <p>Budak Proker</p>
                <small><a class="text-muted" href="#exp-headline">Back to top!</a></small>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function readMore(seeID) {
            var seeText = document.getElementById(seeID);
            var moreText = document.getElementById(seeID + "-text");
            moreText.style.display = (moreText.style.display === 'none') ? 'inline' : 'none';
            seeText.innerHTML = (moreText.style.display === 'inline') ? '...see less' : '...read more';
        }
    </script>    
{% endblock content %}