{% load static %}
<!--Contact Section-->
<div class="container section" id="contact">
    <div class="row contact-head">
        <div class="col-12 text-center">
            <h1>contact me</h1>
        </div>
    </div>
    <div class="row contact-btn my-3">
        <div class="col-12 text-center">
            <a target="_blank" href="https://linkedin.com/in/fatih-alaydrus/"><img src="{% static 'assets/img/linkedin.png' %}" alt="linkedin"></a>
            <a target="_blank" href="https://instagram.com/fatismw/"><img src="{% static 'assets/img/instagram.png' %}" alt="instagram"></a>
            <a target="_blank" href="https://github.com/fatih-alaydrus/"><img src="{% static 'assets/img/github.png' %}" alt="github"></a>
            <a href="mailto:fatih.ismail27@gmail.com"><img src="{% static 'assets/img/email.png' %}" alt="email"></a></div>
    </div>
    <div class="row copyright">
        <div class="col-12 text-center text-muted my-3">
            Copyright © 2019 Fatih, All Rights Reserved
        </div>
    </div>
</div>