<!--Bootstrap Navigation Bar-->
<div class="offset-1 col-10">
    <nav class="navbar navbar-expand">
        <a class="navbar-brand text-center mr-auto" href="#home">fatih</a>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#home">home</a>
            <a class="nav-item nav-link" href="#about">about</a>
            <a class="nav-item nav-link" href="#edu">edu</a>
            <a class="nav-item nav-link" href="#skills">skills</a>
            <a class="nav-item nav-link" href="#exp">experience</a>
            <a class="nav-item nav-link" href="#contact">contact me</a>
        </div>
    </nav>
</div>