{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Home Section-->
<div class="container-fluid p-0" id="home">
    {% include 'navbar.html' %}
    <!--Text Overlay on Slideshow-->
    <div class="text-center text-overlay">
            fatih alaydrus
            <br>an experimental dreamer
    </div>
    <!--Bootstrap Carousel Slideshow-->
    <div id="slideshow" class="carousel slide" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#slideshow" data-slide-to="0" class="active"></li>
            <li data-target="#slideshow" data-slide-to="1"></li>
            <li data-target="#slideshow" data-slide-to="2"></li>
        </ol>
        <!--Content-->
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="{% static 'assets/img/1.gif' %} " class="d-block w-100" alt="1st">
            </div>
            <div class="carousel-item">
            <img src="{% static 'assets/img/2.jpg' %}" class="d-block w-100" alt="2nd">
            </div>
            <div class="carousel-item">
            <img src="{% static 'assets/img/3.jpg' %}" class="d-block w-100" alt="3rd">
            </div>
        </div>
        <!--Control-->
        <a class="carousel-control-prev" href="#slideshow" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slideshow" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!--About Section-->
<div class="container section" id="about">
    <div class="row">
        <!--Just to push the aligned center skills-text to the right-->
        <div class="col-1"></div>
        <div class="col-5 text-right content-text">
            <p>I’m a <b>young IT enthusiast</b> who’s eagerly seeking experience from anything.
            <br><b>Don’t be afraid, I won’t bite.</b></p>
        </div>
        <div class="col-4 text-left">
            <h1>about</h1>
        </div>
    </div>
</div>
<!--Education Section-->
<div class="container section" id="edu">
    <div class="row">
        <div class="col-6 text-right">
            <h1>education</h1>
        </div>
        <div class="col-6 text-left content-text">
                <p><b>Massachusetts Institute of Technology |</b> 2022<br>Master of Business Analytics--<i>this is my dream</i></p>
                <p><b>University of Indonesia |</b> 2018-2022<abbr title="expected graduation">*</abbr><br>Information Systems, Undergraduate</p>
                <p><b>SMA Negeri 28 Jakarta |</b> 2015 - 2018<br>General Science</p>
        </div>
    </div>
</div>
<!--Skills Section-->
<div class="container section" id="skills">
    <div class="row">
        <!--Just to push the aligned center skills-text to the right-->
        <div class="col-6 text-right content-text">
            <ul style="list-style: none">
                <li>python - java - html - css</li>
                <li>javascript - jquery - bootstrap</li>
                <li>figma - photoshop - illustrator</li>
            </ul>
        </div>
        <div class="col-6 text-left">
            <h1>skills</h1>
        </div>
    </div>
</div>
<!--Experience Section-->
<div class="container section" id="exp">
    <div class="row">
        <div class="col-6 text-right" id="exp-head">
            <h1>experience</h1>
        </div>
        <div class="col-5 text-left content-text">
            <p>I'm <b>experienced in nothing</b>. Although --I've achieved <s>greatness</s> 
                <a href="{% url 'exp' %}"><button class="exp-btn"><b>something</b></button></a>
                <br><sub class="text-muted">check the word 'something'</sub></p>
        </div>
    </div>
</div>    
{% endblock content %}
