html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*Embodiment*/
body{
    background: url(../assets/img/bg.png) no-repeat center center; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: scroll;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
}

/*Navbar CSS*/
.navbar{
    position: fixed;
    top: 0;
    align-items: center;
    width:80%;
    z-index: 100;
    background-color: rgba(29, 29, 29, 0.384);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.navbar a{
    color: white;
    background-color: transparent;
}
.navbar-nav a:hover{
    color: rgb(171, 226, 171);
    text-decoration: line-through;
}
.navbar-brand{
    font-size: 2.5vw;
    line-height: 3.5vw;
    font-weight: bold;
}

/*Slideshow CSS*/
.text-overlay{
    position:absolute;
    width:100%;
    z-index:2;
    max-width:100%;
    top: 19vw;
    color: white;
    font-family: "Lora", sans-serif;
    font-size: 2vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}
.text-overlay::first-line{
    font-size: 3.5vw;
    line-height: 3vw;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
}
.carousel-control-next, .carousel-control-prev, .carousel-indicators{
    bottom: 10vw;
    z-index: 3;
}

/*Content CSS*/
body h1{
    font-weight: 900;
}
.content-text{
    font-family: "Lora", sans-serif;
}
#exp-head {
    border-right: 2px solid #3e8e41;
}
.exp-btn{
    background-color: white;
    border: none;
    color: black;
    transition: 0.3s;
    border-radius: 5%;
}
.exp-btn:hover {
  background-color: #3e8e41;
  color: white;
}
.section{
    padding-top: 300px;
}
.contact-head {
    border-top: 1px solid rgb(185, 185, 185)
}
.contact-btn img {
    max-width: 50px;
    margin: 0px 15px;
}
.copyright{
    font-size: 1vw;
}

/*Resume Page Exclusive CSS*/
#exp-headline{
    padding-bottom: 10vh;
}
.res-header{
    padding-top: 100px;
}
.res-text p, .res-text a{
    font-size: 14pt;
    font-family: 'Lora', sans-serif;
}
.see-more{
    cursor: pointer;
}
.hidden-text{
    display: none;
}
.exp-sep-right{
    border-left: 5px solid #3e8e418e;
}
.back-btn img{
    position: absolute;
    width: 50px;
    transition: 0.3s;
    z-index: 20;
    margin-left: 5px;
}
.back-btn img:hover{
    margin-left: 25px;
}
.dl-btn{
    background-color: #ffffff;
    font-weight: bold;
    color: black;
    transition: 0.3s;
    border: 3px solid #3e8e41;
    padding: 18px 32px;
    border-radius: 40px;
    font-size: 16pt;
}
.dl-btn:hover {
  background-color: #3e8e41;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .carousel-control-next, .carousel-control-prev, .carousel-indicators{
        display: none;
    }
    .container{
        font-size: 2vw;
    }
    .navbar{
        display: none;
    }
    h1{
        font-size: 5vw;
    }
    .text-overlay{
        font-size: 3.4vw;
    }
    .text-overlay::first-line{
        font-size: 6vw;
        line-height: 6vw;
    }
    .section{
        padding-top: 50px;
    }
    
    .dl-btn{
        border: 2px solid #3e8e41;
        padding: 3vw;
        font-size: 10pt;
    }

    h2{
        font-size: 4vw;
    }
    h4{
        font-size: 3.5vw;
    }

    .res-text p, .res-text a{
        font-size: 3vw;
    }

    .contact-btn img {
        max-width: 8vw;
    }

}